# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

#Un-refined docs
docs/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm
data/

# log files
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Backup files
*.txt.bak
main.py.txt

# Build
build/
dist/
*.spec
*.iss
installer_output/

#config
config.yaml
/config
themes.yaml